.THIS p{
    font-size: 13px;
}

.THIS .rgpd p{
    font-size: 0.7em;
    text-align: justify;
}

.THIS .subtitleContainer{
    text-align: center;
    padding-bottom: 0.5rem;
}

.THIS .subtitleBold {
    text-align: center;
    font-weight: bold;
    color: #00a9b9;
}

.THIS .formInput{
    margin-top: 0.5rem;
}

.THIS .slds-form-element__label{
    margin-bottom: 0;
}

.THIS .slds-input{
    border: none;
    border-bottom: 1px solid #00a9b9;
    border-radius: 0;
    margin-bottom: 1rem;
}

.THIS .slds-input:focus{
    box-shadow: none;
}

.THIS .slds-form-element__help{
    font-size: 11px;
    position: absolute;
    bottom: -3px;
}

.THIS .slds-has-error .slds-input {
    border-color: #c23934;
    box-shadow: none;
}
.THIS .infoBoxContainerRegister{
    background-color: #e64f4f;
    border-radius: 5px;
    width: 28rem;
    -webkit-box-shadow: 7px 7px 20px -8px rgba(105, 105, 105, 1);
}

.THIS .infoBoxContainerReset {
    color: #fff;
    background-color: #e64f4f;
    border-radius: 5px;
    width: 17rem;
    -webkit-box-shadow: 7px 7px 20px -8px rgba(105, 105, 105, 1);
}

.THIS ::placeholder {
    font-size: 12px;
    color: #4e4e4e;
}

.THIS .comboTypeContact .slds-combobox__form-element{
    font-size: 13px;
}

.THIS .comboTypeContact .slds-listbox__option{
    font-size: 13px;
}

.THIS .comboTypeContact .slds-listbox__option:hover{
    background: #e5f6f8;
}

.THIS .comboTypeContact .slds-listbox__option:focus{
    background: #e5f6f8;
}

.THIS .comboTypeContact .slds-combobox__input{
    border-color: #00a9b9;
}

.THIS .comboTypeContact .slds-icon-utility-down{
        margin-top: -15px;
}


.THIS .comboTypeContact .slds-combobox__input:focus{
    border-color: #00a9b9;
    box-shadow: #00a9b9 0px 0px 3px;
}

.THIS .slds-has-error .slds-combobox__input{
    border-color: #c23934;
    box-shadow: none;
}

.THIS .slds-textarea{
    height: 5rem;
    border-radius: 0;
    border-color: #00a9b9;
    min-height: 5rem;
}

.THIS .slds-textarea:focus{
    border-color: #00a9b9;
    box-shadow: #00a9b9 0px 0px 3px;
}

.THIS .registerButton{
    border-radius: 5rem;
    width: 10rem;
    height: 35px;
    font-family: Lato;
    font-size: 13px;
    margin-top: 1rem;
    background: #00a9b9;
    color: #fff;
    border-color: #0a9fad;    
}

.THIS .registerButton:hover{
    background: #0194a2;   
}

.THIS .registerButton:focus{
    box-shadow: none;  
}

.THIS .notifShow{
    animation: fade-in-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in-top {
  0% {
    transform: translateY(-25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.THIS .notifClose{
    animation: fade-out-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes fade-out-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-25px);
    opacity: 0;
  }
}

.THIS .infoTaskContainer {
    text-align: left;
    color: #fff;
    padding: .8rem 1.5rem;
}