/*:host .slds-page-header {
  background-color: greenyellow;
}

:host .slds-input {
  border: none;
  border-bottom: 1px solid #00a9b9;
  border-radius: 0;
  margin-bottom: 1rem;
  background-color: rgb(25, 78, 95);
}*/